
# Exclude production configuration file
/config/podio-settings.php
/config/alias.conf

# Exclude deployment specific files (gcloud / Kubernetes)
/kubernetes-manifests/
Dockerfile
skaffold.yaml

# Exclude 3rd party modules created via composer
/vendor

# Exclude IDE specific environment files (IntelliJ)
/.idea
/podio-helpline.iml

# Exclude OS specific environment files (Mac OS)
*.DS_Store